openapi: 3.1.0
info:
  title: Kaedim Web Assets API
  version: v1
  x-apievangelist-generated: '2026-07-19'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.kaedim3d.com/enterprise-features/custom-integrations/apis/web-api
  description: The Kaedim Web API lets Enterprise customers integrate Kaedim's AI 2D-to-3D asset generation into internal 3D modelling pipelines and user-facing applications. Submit images (photos, sketches, concept art), poll or receive results via webhook, and download generated models in obj, fbx, glb, gltf, mtl and usd formats. This description is generated by the API Evangelist enrichment pipeline from Kaedim's published Web API documentation; it is not an official Kaedim OpenAPI definition.
  contact:
    name: Kaedim Support
    email: support@kaedim3d.com
    url: https://docs.kaedim3d.com/enterprise-features/custom-integrations/apis/web-api
servers:
- url: https://api.kaedim3d.com/api/v1
  description: Production
security:
- ApiKeyAuth: []
  BearerAuth: []
tags:
- name: Assets
  description: Fetch generated assets and projects
paths:
  /fetchRequest:
    get:
      tags:
      - Assets
      summary: Fetch a single generation request
      description: Returns the status and generated model iterations for one requestID.
      operationId: fetchRequest
      parameters:
      - name: devID
        in: query
        required: true
        schema:
          type: string
      - name: requestID
        in: query
        required: true
        schema:
          type: string
      - name: studioID
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Request details with model iterations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Request'
  /fetchAll:
    get:
      tags:
      - Assets
      summary: Fetch all assets
      description: Returns all generated assets, optionally filtered by a date range.
      operationId: fetchAll
      parameters:
      - name: devID
        in: query
        required: true
        schema:
          type: string
      - name: start
        in: query
        required: false
        description: Start date, format MM-DD-YYYY.
        schema:
          type: string
      - name: end
        in: query
        required: false
        description: End date, format MM-DD-YYYY.
        schema:
          type: string
      - name: studioID
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Array of assets with iterations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  assets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Request'
  /fetchProjects:
    get:
      tags:
      - Assets
      summary: Fetch projects
      description: Returns the list of projects for a developer.
      operationId: fetchProjects
      parameters:
      - name: devID
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Array of projects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
components:
  schemas:
    Project:
      type: object
      properties:
        projectID:
          type: string
        name:
          type: string
        studioID:
          type: string
          nullable: true
    Request:
      type: object
      properties:
        requestID:
          type: string
        createdAt:
          type: string
        image:
          type: string
          format: uri
        image_tags:
          type: array
          items:
            type: string
        iterations:
          type: array
          items:
            $ref: '#/components/schemas/Iteration'
    Iteration:
      type: object
      description: A generated model version with downloadable format URLs (links expire after 1 hour).
      properties:
        obj:
          type: string
          format: uri
        fbx:
          type: string
          format: uri
        glb:
          type: string
          format: uri
        gltf:
          type: string
          format: uri
        mtl:
          type: string
          format: uri
        usd:
          type: string
          format: uri
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Enterprise API key from Settings > API Keys in the Kaedim app.
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT obtained via /registerHook, refreshed via /refreshJWT every 12 hours.
