openapi: 3.1.0
info:
  title: Kaedim Web Assets Webhooks API
  version: v1
  x-apievangelist-generated: '2026-07-19'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.kaedim3d.com/enterprise-features/custom-integrations/apis/web-api
  description: The Kaedim Web API lets Enterprise customers integrate Kaedim's AI 2D-to-3D asset generation into internal 3D modelling pipelines and user-facing applications. Submit images (photos, sketches, concept art), poll or receive results via webhook, and download generated models in obj, fbx, glb, gltf, mtl and usd formats. This description is generated by the API Evangelist enrichment pipeline from Kaedim's published Web API documentation; it is not an official Kaedim OpenAPI definition.
  contact:
    name: Kaedim Support
    email: support@kaedim3d.com
    url: https://docs.kaedim3d.com/enterprise-features/custom-integrations/apis/web-api
servers:
- url: https://api.kaedim3d.com/api/v1
  description: Production
security:
- ApiKeyAuth: []
  BearerAuth: []
tags:
- name: Webhooks
  description: Register a webhook endpoint and obtain a JWT
paths:
  /registerHook:
    post:
      tags:
      - Webhooks
      summary: Register a webhook endpoint
      description: Registers an HTTPS webhook destination for a developer and returns the JWT used to authorize generation and fetch requests.
      operationId: registerHook
      security:
      - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - devID
              - destination
              properties:
                devID:
                  type: string
                  description: Developer ID from user settings.
                destination:
                  type: string
                  format: uri
                  description: HTTPS webhook endpoint URL.
      responses:
        '201':
          description: Webhook registered; returns a JWT.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  jwt:
                    type: string
        '404':
          description: User does not exist.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Enterprise API key from Settings > API Keys in the Kaedim app.
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT obtained via /registerHook, refreshed via /refreshJWT every 12 hours.
