openapi: 3.1.0
info:
  title: Kaedim Web Assets Auth API
  version: v1
  x-apievangelist-generated: '2026-07-19'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.kaedim3d.com/enterprise-features/custom-integrations/apis/web-api
  description: The Kaedim Web API lets Enterprise customers integrate Kaedim's AI 2D-to-3D asset generation into internal 3D modelling pipelines and user-facing applications. Submit images (photos, sketches, concept art), poll or receive results via webhook, and download generated models in obj, fbx, glb, gltf, mtl and usd formats. This description is generated by the API Evangelist enrichment pipeline from Kaedim's published Web API documentation; it is not an official Kaedim OpenAPI definition.
  contact:
    name: Kaedim Support
    email: support@kaedim3d.com
    url: https://docs.kaedim3d.com/enterprise-features/custom-integrations/apis/web-api
servers:
- url: https://api.kaedim3d.com/api/v1
  description: Production
security:
- ApiKeyAuth: []
  BearerAuth: []
tags:
- name: Auth
  description: Token refresh
paths:
  /refreshJWT:
    post:
      tags:
      - Auth
      summary: Refresh JWT
      description: Generates a new JWT using the refresh token. JWTs expire after 12 hours.
      operationId: refreshJWT
      security:
      - ApiKeyAuth: []
      parameters:
      - name: refresh-token
        in: header
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - devID
              properties:
                devID:
                  type: string
      responses:
        '200':
          description: New JWT issued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jwt:
                    type: string
                  devID:
                    type: string
                  status:
                    type: string
                  message:
                    type: string
        '400':
          description: Invalid credentials.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Enterprise API key from Settings > API Keys in the Kaedim app.
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT obtained via /registerHook, refreshed via /refreshJWT every 12 hours.
