openapi: 3.1.0
info:
  title: Kaedim Web Assets Generation API
  version: v1
  x-apievangelist-generated: '2026-07-19'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.kaedim3d.com/enterprise-features/custom-integrations/apis/web-api
  description: The Kaedim Web API lets Enterprise customers integrate Kaedim's AI 2D-to-3D asset generation into internal 3D modelling pipelines and user-facing applications. Submit images (photos, sketches, concept art), poll or receive results via webhook, and download generated models in obj, fbx, glb, gltf, mtl and usd formats. This description is generated by the API Evangelist enrichment pipeline from Kaedim's published Web API documentation; it is not an official Kaedim OpenAPI definition.
  contact:
    name: Kaedim Support
    email: support@kaedim3d.com
    url: https://docs.kaedim3d.com/enterprise-features/custom-integrations/apis/web-api
servers:
- url: https://api.kaedim3d.com/api/v1
  description: Production
security:
- ApiKeyAuth: []
  BearerAuth: []
tags:
- name: Generation
  description: Submit images for 3D asset generation
paths:
  /process:
    post:
      tags:
      - Generation
      summary: Submit images for 3D generation
      description: Submits up to 6 images (5MB each) for 3D asset generation at a chosen level of quality. Returns a requestID to track the generation, which is delivered asynchronously via the registered webhook.
      operationId: processImage
      security:
      - ApiKeyAuth: []
        BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - devID
              - LoQ
              properties:
                devID:
                  type: string
                imageUrls:
                  type: array
                  items:
                    type: string
                    format: uri
                  description: Up to 6 image URLs (mutually exclusive with images).
                images:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: Up to 6 uploaded images, 5MB limit each.
                LoQ:
                  type: string
                  enum:
                  - standard
                  - high
                  - ultra
                  description: Level of quality.
                test:
                  type: boolean
                  description: Run in test mode without consuming credits.
                polycount:
                  type: number
                height:
                  type: number
                  description: Default 200 (cm).
                width:
                  type: number
                depth:
                  type: number
                projectID:
                  type: string
                studioID:
                  type: string
      responses:
        '201':
          description: Generation request accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  devID:
                    type: string
                  requestID:
                    type: string
                  message:
                    type: string
        '400':
          description: Invalid payload or headers.
        '406':
          description: Invalid level of quality.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Enterprise API key from Settings > API Keys in the Kaedim app.
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT obtained via /registerHook, refreshed via /refreshJWT every 12 hours.
