openapi: 3.1.0
info:
  title: Kaedim Web API
  version: v1
  x-apievangelist-generated: '2026-07-19'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.kaedim3d.com/enterprise-features/custom-integrations/apis/web-api
  description: >-
    The Kaedim Web API lets Enterprise customers integrate Kaedim's AI 2D-to-3D
    asset generation into internal 3D modelling pipelines and user-facing
    applications. Submit images (photos, sketches, concept art), poll or receive
    results via webhook, and download generated models in obj, fbx, glb, gltf,
    mtl and usd formats. This description is generated by the API Evangelist
    enrichment pipeline from Kaedim's published Web API documentation; it is not
    an official Kaedim OpenAPI definition.
  contact:
    name: Kaedim Support
    email: support@kaedim3d.com
    url: https://docs.kaedim3d.com/enterprise-features/custom-integrations/apis/web-api
servers:
  - url: https://api.kaedim3d.com/api/v1
    description: Production
security:
  - ApiKeyAuth: []
    BearerAuth: []
tags:
  - name: Webhooks
    description: Register a webhook endpoint and obtain a JWT
  - name: Generation
    description: Submit images for 3D asset generation
  - name: Assets
    description: Fetch generated assets and projects
  - name: Auth
    description: Token refresh
paths:
  /registerHook:
    post:
      tags: [Webhooks]
      summary: Register a webhook endpoint
      description: >-
        Registers an HTTPS webhook destination for a developer and returns the
        JWT used to authorize generation and fetch requests.
      operationId: registerHook
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [devID, destination]
              properties:
                devID:
                  type: string
                  description: Developer ID from user settings.
                destination:
                  type: string
                  format: uri
                  description: HTTPS webhook endpoint URL.
      responses:
        '201':
          description: Webhook registered; returns a JWT.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  message: { type: string }
                  jwt: { type: string }
        '404':
          description: User does not exist.
  /process:
    post:
      tags: [Generation]
      summary: Submit images for 3D generation
      description: >-
        Submits up to 6 images (5MB each) for 3D asset generation at a chosen
        level of quality. Returns a requestID to track the generation, which is
        delivered asynchronously via the registered webhook.
      operationId: processImage
      security:
        - ApiKeyAuth: []
          BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [devID, LoQ]
              properties:
                devID:
                  type: string
                imageUrls:
                  type: array
                  items: { type: string, format: uri }
                  description: Up to 6 image URLs (mutually exclusive with images).
                images:
                  type: array
                  items: { type: string, format: binary }
                  description: Up to 6 uploaded images, 5MB limit each.
                LoQ:
                  type: string
                  enum: [standard, high, ultra]
                  description: Level of quality.
                test:
                  type: boolean
                  description: Run in test mode without consuming credits.
                polycount:
                  type: number
                height:
                  type: number
                  description: Default 200 (cm).
                width:
                  type: number
                depth:
                  type: number
                projectID:
                  type: string
                studioID:
                  type: string
      responses:
        '201':
          description: Generation request accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  devID: { type: string }
                  requestID: { type: string }
                  message: { type: string }
        '400':
          description: Invalid payload or headers.
        '406':
          description: Invalid level of quality.
  /fetchRequest:
    get:
      tags: [Assets]
      summary: Fetch a single generation request
      description: Returns the status and generated model iterations for one requestID.
      operationId: fetchRequest
      parameters:
        - name: devID
          in: query
          required: true
          schema: { type: string }
        - name: requestID
          in: query
          required: true
          schema: { type: string }
        - name: studioID
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Request details with model iterations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Request'
  /fetchAll:
    get:
      tags: [Assets]
      summary: Fetch all assets
      description: Returns all generated assets, optionally filtered by a date range.
      operationId: fetchAll
      parameters:
        - name: devID
          in: query
          required: true
          schema: { type: string }
        - name: start
          in: query
          required: false
          description: Start date, format MM-DD-YYYY.
          schema: { type: string }
        - name: end
          in: query
          required: false
          description: End date, format MM-DD-YYYY.
          schema: { type: string }
        - name: studioID
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Array of assets with iterations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  assets:
                    type: array
                    items: { $ref: '#/components/schemas/Request' }
  /fetchProjects:
    get:
      tags: [Assets]
      summary: Fetch projects
      description: Returns the list of projects for a developer.
      operationId: fetchProjects
      parameters:
        - name: devID
          in: query
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Array of projects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  message:
                    type: array
                    items: { $ref: '#/components/schemas/Project' }
  /refreshJWT:
    post:
      tags: [Auth]
      summary: Refresh JWT
      description: Generates a new JWT using the refresh token. JWTs expire after 12 hours.
      operationId: refreshJWT
      security:
        - ApiKeyAuth: []
      parameters:
        - name: refresh-token
          in: header
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [devID]
              properties:
                devID: { type: string }
      responses:
        '200':
          description: New JWT issued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jwt: { type: string }
                  devID: { type: string }
                  status: { type: string }
                  message: { type: string }
        '400':
          description: Invalid credentials.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Enterprise API key from Settings > API Keys in the Kaedim app.
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT obtained via /registerHook, refreshed via /refreshJWT every 12 hours.
  schemas:
    Project:
      type: object
      properties:
        projectID: { type: string }
        name: { type: string }
        studioID: { type: string, nullable: true }
    Iteration:
      type: object
      description: A generated model version with downloadable format URLs (links expire after 1 hour).
      properties:
        obj: { type: string, format: uri }
        fbx: { type: string, format: uri }
        glb: { type: string, format: uri }
        gltf: { type: string, format: uri }
        mtl: { type: string, format: uri }
        usd: { type: string, format: uri }
    Request:
      type: object
      properties:
        requestID: { type: string }
        createdAt: { type: string }
        image: { type: string, format: uri }
        image_tags:
          type: array
          items: { type: string }
        iterations:
          type: array
          items: { $ref: '#/components/schemas/Iteration' }
